@import "base/colors";
@import "base/base";

.archive-block {

  li {
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 18px;
    line-height: 18px;
  }

  em {
    display: block;
    font-size: 14px;
    color: #666;
    font-style: italic;
  }
}

.archive-trigger {
  position: relative;
  z-index: 30;
  cursor: pointer;
  background: lighten($taupe, 26%);
  display: block;
}

.subfeature {
  float: left;
  width: 160px;
  padding: 20px 40px 20px 0;

  h3 {
    font-size: 14px;
    line-height: 25px !important;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

// These only get used on the Press page
// Sorry, reusable code nerds :(

.leftcolumn {
  float: left;
  width: 600px;
  padding: $base-padding / 2;
}
.rightcolumn {
  float: left;
  width: 250px;
  padding: $base-padding / 2;
}